@charset "UTF-8";

@font-face {
  font-family: "proradio-for-elementor";
  src:url("fonts/proradio-for-elementor.eot");
  src:url("fonts/proradio-for-elementor.eot?#iefix") format("embedded-opentype"),
    url("fonts/proradio-for-elementor.woff") format("woff"),
    url("fonts/proradio-for-elementor.ttf") format("truetype"),
    url("fonts/proradio-for-elementor.svg#proradio-for-elementor") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "proradio-for-elementor" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "proradio-for-elementor" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prel-3d-header:before {
  content: "\64";
}
.icon-prel-bullet-list:before {
  content: "\65";
}
.icon-prel-button:before {
  content: "\66";
}
.icon-prel-caption:before {
  content: "\67";
}
.icon-prel-categories:before {
  content: "\68";
}
.icon-prel-cf7:before {
  content: "\69";
}
.icon-prel-chart-tracklist:before {
  content: "\6a";
}
.icon-prel-countdown:before {
  content: "\6b";
}
.icon-prel-custom-card:before {
  content: "\6c";
}
.icon-prel-custom-card-horizontal:before {
  content: "\6d";
}
.icon-prel-event-featured:before {
  content: "\6e";
}
.icon-prel-events-list:before {
  content: "\6f";
}
.icon-prel-gallery:before {
  content: "\70";
}
.icon-prel-section-caption:before {
  content: "\61";
}
.icon-prel-shows-carousel:before {
  content: "\62";
}
.icon-prel-shows-onair:before {
  content: "\63";
}
.icon-prel-shows-slider:before {
  content: "\71";
}
.icon-prel-social:before {
  content: "\72";
}
.icon-prel-spacer:before {
  content: "\73";
}
.icon-prel-sponsor-carousel:before {
  content: "\74";
}
.icon-prel-streaming-app-icons:before {
  content: "\75";
}
.icon-prel-video-gallery:before {
  content: "\76";
}
.icon-prel-schedule:before {
  content: "\77";
}
.icon-prel-radio-feed:before {
  content: "\78";
}
.icon-prel-radio-card:before {
  content: "\79";
}
.icon-prel-pricing-tables:before {
  content: "\7a";
}
.icon-prel-post-slider:before {
  content: "\41";
}
.icon-prel-post-mosaic:before {
  content: "\42";
}
.icon-prel-post-list-large:before {
  content: "\43";
}
.icon-prel-post-list:before {
  content: "\44";
}
.icon-prel-post-inline:before {
  content: "\45";
}
.icon-prel-post-hero:before {
  content: "\46";
}
.icon-prel-post-grid:before {
  content: "\47";
}
.icon-prel-post-carouse:before {
  content: "\48";
}
.icon-prel-post-glass-cards:before {
  content: "\49";
}
